@import "../styles/variable.scss";

.dashboardWrap {
    width: 100%;
    border: 1px solid #96AABE;
    border-radius: 10px;
    background: #FBFDFF;
    padding: 20px 10px 0 10px;
    .orderFilter {
        display: flex;
        >span {
            flex: auto;
            display: flex;
        }
        >.spnWebFilter {
            button {
                flex: auto;
                font-size: 14px;
                line-height: 18px;
                color: $text-color;
                background-color: #FBFDFF;
                border: 0.5px solid #96AABE;
                padding: 10px 14px;
                overflow: hidden;
                transition: all 0.3s ease;
                outline: none;
                position: relative;
                overflow: visible;
                &.active {
                    color: $white-color;
                    background-color: $theme-color;
                    border: 0.5px solid $theme-color;
                    &:hover {
                        color: $white-color;
                    }
                    .badgeNotif {
                        background-color: #F6655A;
                        color: $white-color;
                    }
                }
                &:first-child {
                    border-radius: 5px 0 0 5px;
                }
                &:last-child {
                    border-radius: 0 5px 5px 0;
                }
                &:hover {
                    color: $theme-color;
                }
                .badgeNotif {
                    border-radius: 20px;
                    padding: 0 8px;
                    font-size: 12px;
                    background-color: #FBFDFF;
                    color: #F6655A;
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    min-width: 10px;
                    border: 1px solid #F6655A;
                    z-index: 1;
                    pointer-events: none;
                }
            }
        }
        >.spnFlexSplit {
            padding: 10px;
        }
        >.spnSearchWrap {
            border: 1px solid #96AABE;
            border-radius: 5px;
            > {
                flex: auto
            }
            >span {
                padding: 5px;
                color: $text-color;
                overflow: hidden;
            }
            input {
                width: 100%;
                outline: none;
                border: 0;
                font-size: 14px;
                line-height: 18px;
                color: $black-color;
                &::placeholder {
                    color: $text-color
                }
            }
        }
        .spnMobFilter {
            display: none;
            .fcSelectFilter {
                width: 100%;
                outline: none;
                border: none;
                >div {
                    >div:first-child {
                        font-size: 14px;
                        line-height: 18px;
                        color: $text-color;
                    }
                }
            }
        }
    }
    .tblContainer {
        margin-top: 20px;
        background-color: transparent;
        box-shadow: none;
        tr {
            td, th {
                border: none;
                padding: 10px 0;
            }
        }
        thead {
            tr {
                background-color: #F6F8FC;
            }
        }
        .tblCell {
            color: #53606D;
            font-family: $font-family;
            font-size: 12px;
            line-height: 20px;
            font-weight: 600;
            &.orderId {
                color: $theme-color;
            }
            .h3emptyList {
                text-align: center;
                color: #53606D;
                font-family: $font-family;
                font-size: 12px;
                line-height: 20px;
                font-weight: 600;
            }
        }
        .tpOrders {
            p {
                margin: 0;
                color: #53606D;
                font-family: $font-family;
                font-size: 12px;
                line-height: 20px;
                font-weight: 600;
            }
            select {
                color: #53606D;
                font-family: $font-family;
                font-size: 12px;
                line-height: 20px;
                font-weight: 600;
            }
        }
    }
}
// responsive start 
@media screen and (max-width: 768px) {
    .dashboardWrap {
        .orderFilter {
            .spnMobFilter {
                display: flex;
            }
            .spnWebFilter {
                display: none;
            }
        }
    }
}