@import "../styles/variable.scss";

.footerWrap {
    margin: 1rem auto 2rem auto;
    display: block;
    width: 100%;
    text-align: center;
    p {
        color: #96AABE;
        font-size: 14px;
        line-height: 18px;
        font-family: $font-family;
    }
}

@media (max-width: 768px) {
    .footerWrap {
        margin: 5rem auto 1rem auto;
    }
}