@import "../styles/variable.scss";

.footerWrap {
    margin: 1rem auto 2rem auto;
    display: flex;
    max-width: 1200px;
    width: 100%;
    text-align: center;
    flex-flow: wrap;
    p, a, span {
        color: #96AABE;
        font-size: 14px;
        line-height: 18px;
        font-family: $font-family;
        flex: auto;
        text-decoration: none;
        align-items: center;
        margin: auto;
        padding: 5px 15px;
    }
}

@media (max-width: 768px) {
    .footerWrap {
        margin: 5rem auto 1rem auto;
    }
}