@import "../styles/variable.scss";

.bannerWrap {
    display: block;
    width: 100%;
    min-width: 100%;
    align-self: center;
    h1 {
        font-size: 30px;
        line-height: 35px;
        color: $black-color
    }
    h2 {
        font-size: 52px;
        line-height: 65px;
        color: $theme-color
    }
    p {
        font-size: 20px;
        line-height: 35px;
        color: $text-color;
        margin-bottom: 50px;
    }
    a {
        padding: 14px 29px;
        color: $white-color;
        background-color: $theme-color;
        border-radius: 100px;
        text-decoration: none;
    }
}