@import '../styles/variable.scss';

.profilePanelsWrap {
    width: 100%;
    max-width: 830px;
    margin: 0 auto;
    .stepperWrap {
        > div {
            flex: auto;
            .stepLoc {
                display: inline-block;
                white-space: nowrap;
                span > span {
                    margin-top: 0;
                }
                .css-qivjh0-MuiStepLabel-label.MuiStepLabel-alternativeLabel {
                    margin-top: 0 !important;
                }
                .stepLbl {
                    font-family: $font-family;
                    font-size: 16px;
                    line-height: 28px;
                    text-decoration: none;
                    &:disabled {
                        cursor: default;
                    }
                }
            }
        }
    }
    .pPitch {
        text-align: center;
        color: $text-color;
        font-family: $font-family;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        max-width: 730px;
        margin: 30px auto;
        span {
            color: $black-color
        }
    }
    .qualiChildWrap {
        max-width: 600px;
        margin: auto;
        display: block;
        background-color: $white-color;
        box-shadow: 0px 0px 15px $text-color;
        border-radius: 15px;
        padding: 25px;
    }

    // mobile design 
    .mobStepLoc {
        display: none;
        font-family: $font-family;
        font-size: 16px;
        line-height: 28px;
        color: $text-color;
        span:nth-child(2) {
            flex: auto;
        }
        span:last-child {
            color: #2CBEFF
        }
    }
    .mobileStepperWrap {
        display: none;
        box-shadow: 0px 0px 15px $text-color;
        width: 100%;
        position:fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $white-color;
        z-index: 1;
    }


    // Forms styles
    .frmPanelWrap {
        .telInput {
            width:100% !important;
            color: $black-color;
        }
        .submitWrap {
            display: flex;
            > span {
                flex: auto;
            }
            button {
                font-family: $font-family;
                font-size: 16px;
                line-height: 18px;
                color: $white-color;
                background-color: $theme-color;
                border: none;
                padding: 10px 30px;
                &.btnPrev {
                    background-color: $white-color;
                    border: none;
                    box-shadow: none;
                    color: $black-color;
                }
            }
        }
        .lblWriter {
            color: $black-color;
            font-family: $font-family;
            font-size: 14px;
            line-height: 18px;
            font-weight: 600;
        }
        .bgGender {
            max-width: 240px;
            button {
                background-color: $white-color;
                border: 1px solid $text-color;
                font-family: $font-family;
                font-size: 16px;
                line-height: 18px;
                color: $text-color;
                outline: none;
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
                &.active {
                    background-color: $theme-color;
                    color: $white-color;
                    border: 1px solid $theme-color;
                }
            }
        }
        .fclRadio {
            color: $black-color;
            >span:last-child {
                color: $black-color;
                font-family: $font-family;
                font-size: 14px;
                line-height: 18px;
            }
        }
        .fcTextarea,
        .fcInputs {
            color: $black-color;
            font-family: $font-family;
            font-size: 14px;
            line-height: 18px;
            font-weight: 600;
            ::placeholder {
                color: $text-color
            }
        }
        .fcTextarea {
            resize: none;
        }
        .lblChipWrap {
            color: $text-color;
            font-family: $font-family;
            font-size: 14px;
            line-height: 18px;
            font-weight: 600;
        }
        .chipSelectPapers {
            width: 100%;
            >div:first-child {
                min-height: 0;
            }
            .chipSelectWrap {
                display: flex;
                flex-wrap: wrap;
                .chipPaper {
                    color: $black-color;
                    font-family: $font-family;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: 400;
                    margin-right: 5px;
                    margin-bottom: 5px;
                }
            }
            &:hover {
                outline: none;
                box-shadow: none;
            }
        }
        .rateWrap {
            display: flex;
            max-width: 500px;
            >span:nth-child(2) {
                flex: auto;
                align-self: center;
                padding: 0 15px;
                >span {
                    display: flex;
                    label {
                        flex: auto;
                    }
                }
            }
            >span:first-child,
            >span:last-child {
                display: flex;
                align-self: center;
                >label {
                    color: #53606D;
                    font-family: $font-family;
                    font-size: 12px;
                    line-height: 20px;
                    font-weight: 400;
                }
            }
        }
    }
    
    // skeleton 
    .formWrapSkel {
        margin: 0 auto 30px auto;
    }
}

// reponsive starts 
@media screen and (max-width: 768px) {
    .profilePanelsWrap {
        .stepperWrap {
            display: none;
        }
        .mobStepLoc,
        .mobileStepperWrap {
            display: flex;
        }
    }
}
@media screen and (max-width: 576px) {
    .profilePanelsWrap {
        .frmPanelWrap{
            .bgGender {
                max-width: 100%
            }
            .row {
                display: block;
            }
        }
    }
}